/*Breaks extremely long words, screams, wails etc to fit viewer window.*/
* {
  overflow-wrap: break-word;
}
p, div, span {
  font-size: 1em;
}
/*Wraps pre content*/
pre {
  white-space: pre-wrap;
}

/*Centers and gives some space around headings*/
h1, h2 {
  text-align: center;
  font-weight: bold;
  page-break-before: always;
  margin-top: 5%;
  margin-bottom: 10%;
}
h3, h4, h5, h6 {
  text-align: center;
  font-weight: bold;
  margin-top: 12%;
  margin-bottom: 10%;
}
/*Some padding to lists*/
ol, ul {
  padding-left: 2em;
}
li {
  padding-bottom: 0.4em;
}

/*Image style for the img tags. Messing with this might break image layout.*/
img {
  display: block;
  height: auto;
  width: auto;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  padding: 1% 0;
}

/*Credit styles. You can customize this.*/
div.credits {
  text-align: center;
  font-size: 1.1em;
  margin: auto;
  border-style: solid;
  border-width: 4px 0px 4px 0px;
  border-color: #808080;
}
div.credits > p > b {
  font-size: 1.1em;
}

/*Making those horizontal rules more visible*/
hr, .hr-alternative {
  height: 2px;
  width: 100%;
  background-color: #262626;
}

/*General style for links. You may customize the colors*/
a {
  text-decoration: none;
}
a:link {
  color: rgb(0, 0, 255);
}
a:hover {
  color: rgb(0, 255, 0);
}
a:active {
  color: rgb(255, 0, 0);
}

/*Fix for Mediawiki's abuse of definition list tags.*/
dd, dt, dl {
  padding: 0;
  margin: 0;
}

/* Alternative headings */
.heading {
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  page-break-before: always;
  margin-top: 6%;
  margin-bottom: 10%;
}

/* for caption text */
.thumbcaption {
  display: block;
  font-size: 0.9em;
  padding: 2% 5%;
  border-style: solid;
  border-color: rgb(0, 255, 0);
  border-width: 0 0 0 0.5em;
}

/* comments and inline notes */
.cmnt {
  margin: 3%;
  font-size: 0.85em;
}
