/*Some space*/
body {
  margin: 2%;
}

/*Breaks extremely long words, screams, wails etc to fit viewer window.*/
p {
  font-size: 1em;
  overflow-wrap: break-word;
}

/*Wraps pre content*/
pre {
  white-space: pre-wrap;
}

/*For SVG images. Wrap the entire SVG tag in a <div> tag 
and assign svg_outer and svg_inner class to it, like this <div class="svg_outer svg_inner">
I got this from Lord Simon*/
div.svg_outer {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
div.svg_inner {
  display: block;
  text-align: center;
}

/*Centers and gives some space around headings*/
h1, h2 {
  text-align: center;
  font-weight:bold;
  page-break-before: always;
  margin-bottom: 10%;
  margin-top: 10%;
}
h3, h4, h5, h6 {
  text-align: center;
  font-weight:bold;
  margin-bottom: 12%;
  margin-top: 10%;
}
/*Some padding to lists*/
ol, ul {
  padding-left: 8%;
}

/*Image style for the img tags. Messing with this might break image layout.*/
img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

/*Credit styles. You can customize this.*/
div.credits {
  text-align: center;
  font-size: 1.15em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

/*Making those horizontal rules more visible*/
hr {
  height: 2px;
  color: #808080;
  background-color: #808080;
}

/*General style for links. You may customize the colors*/
a:link {
  text-decoration: none;
  color: #0B0080;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #8A0707;
}
a:active {
  text-decoration: underline;
}

/*Fix for Mediawiki's abuse of definition list tags.*/
dd, dt, dl {
  padding: 0;
  margin: 0;
}
